/*
*
/* GLOBAL STYLES
========================================*/


h1 {
	font-family: 'Amatic SC', cursive;
	color: mediumpurple;
	font-weight: bolder;

}


.cover-heading h1 {

	text-shadow: 0 .05rem 2rem rgba(255, 255, 255, 0.5);
}



.cover-heading {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;

}


h1.title {


	font-size: 40px;
	margin-bottom: 60px;
}


h2 {
	font-family: 'Amatic SC', cursive;
	color: orangered;
}



.media {

	opacity: 0.8;
	height: 100%;
	width: 100%;

}

/* Links */

a:link {
	text-decoration: none;
	color: #fff;

}

a:visited {
	color: inherit;
}

/* visited link */

a:hover {
	color: rgba(255, 255, 255, .5)
}



/* Custom default button */

.btn-secondary {

	background-color: mediumpurple;
	color: white;
	border: none

}

body {

	color: rgba(255, 255, 255, .5);

}

.section {
	text-align: center;
}

/*
*  NavBar Setting
*======================
*======================*/

#menu {
	/* top: 0;
	left: 0;
	margin: 0; */

}

.navbar .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: mediumpurple;
	background-color: transparent;
	border-bottom: .20rem solid transparent;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
}

.nav-link:hover {
	border-bottom-color: orangered;

}

.navbar .nav-link + .nav-link {
	margin-left: 1rem;
}


a.navbar-brand {
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	font-weight: 700;
	color: orangered;
	padding: .25rem 0;
}

.navbar-brand:hover {
	color: #fff;
	text-decoration: none
}


.navbar-toggler {
	border-color: orangered;

}


/* Center align the text within the three columns below the 3 circles */

.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing h2 {
	font-weight: 400;
	margin-top: 20px;
}

.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}



.rounded-circle {

	width: 60px;
	height: 60px;
}

.hidden {
	display: none;
}






/* CUSTOMIZE THE CAROUSEL
/*
=============================================
============================================= */


.carousel {
  /* margin-bottom: 4rem; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 42vw;

  /* background-color: #777; */
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}



/* Prices Table
/*
=================================
================================*/

.table {


	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 15px;
	transform: scale(0.5);

}

.table .btn-secondary {
	font-family: 'Poiret One', cursive;
	font-size: 15px;

}



/* Contact
=================================*/

iframe {

	width: 100%;
	height: 80%;


}

.intro {
	position: absolute;
	margin-top: -450px;
	margin-left: 500px;
	margin-right: 50px;


}

.intro p {
	color: #fff;


}

/*
* Footer
=============================== */

#footer {
	height: 60px;
	bottom: 0;
	width: 100%;
	font-size: .7em;
	position: fixed;
	padding: 8px 20px;

}

#footer .float-right{

	font-size: 1.2em;
	vertical-align: top;


}


#footer img {

	width: 30px;
	height: 30px;

}

#footer .svg {
	width: 70px;

}





/*
* RESPONSIVE CSS
===================================
=================================== */

@media (min-width: 40em) {
	.cover-heading h1 {

		font-size: 100px;
		line-height: 1.2;
		text-align: center;

	}
	.cover-heading p {
		font-size: 1.25rem;

	}

	/* .carousel-caption {
		opacity: 0;
	} */


	/* Bump up size of carousel content */
	/* .carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	} */


	/* .carousel-item {
		height: 40rem;
		margin-top: 0;
	} */


	.table,
	.table .btn-secondary {

		font-size: 20px;

	}
	#footer {

		height: 70px;

	}
	.rounded-circle {

		width: 90px;

		height: 90px;
	}


}





@media (min-width: 62em) {
	.cover-heading h1 {

		font-size: 180px;
		line-height: 1.2;
		text-align: center;

	}
	.cover-heading p {
		font-size: 1.25rem;

	}
	/* .carousel-caption h1 {
		margin-bottom: 1.25rem;
		font-size: 70px;
		line-height: 1.4;
	} */

	h1.title {

		font-size: 80px;
		margin-bottom: 60px;

	}
	.rounded-circle {

		width: 120px;
		height: 120px;
	}


}
